<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script type="text/javascript" src="app.js"></script>

    <title>main</title>
</head>
<body>

<form method="post" action="/">
    <input type="text" id="text"  placeholder="Type Here">
    <button type="submit" id="ledon" >Search</button>
</form>

</body>
</html>